.hero {
  z-index: 3;
  width: 800px;
  padding: 20px;
  text-align: center;
  &__header {
    font-size: 60px;
    font-weight: 700;
    color: var(--light);
    margin: auto;
    border-bottom: 1px solid var(--dark);
    padding-bottom: 20px;
    margin-bottom: 20px;

    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px var(--contrast), 0 0 30px var(--contrast), 0 0 40px var(--contrast), 0 0 50px var(--contrast), 0 0 75px var(--contrast);
    letter-spacing: 5px;

    @media only screen and (max-width: 800px) {
      font-size: 30px;
    }

    .highlight {
      padding: 15px 20px;
      text-shadow: none;
      color: var(--ligh);
      background: var(--contrast);
      cursor: pointer;
      width: 100px;
      
      @media only screen and (max-width: 800px) {
        padding: 5px 10px;
        width: 60px;
      }
    }
  }
  &__type-wrap {
    display: flex;
    justify-content: center;
    color: var(--light);
    font-weight: 100;
    font-size: 30px;
    @media only screen and (max-width: 800px) {
      font-size: 20px;
    }
  }
}